#ignore vim swap files
.*.swp
#logfiles, pidfiled
*.log
*.pid
#ignore compiled python files
*.pyc
#python depends created by setup.py
setuptools_trial*/
#ignore DEB packaging files
build/
build-stamp
install-stamp
*.deb
*.dsc
*.build
*.changes
*.tar.gz
*.class
*.CLASS
debian/decades.*.debhelper
pydecades.egg-info
debian/decades.substvars
debian/decades/etc/
debian/decades/opt/
debian/decades/usr/
debian/decades/var/
debian/rules.old
dist/
#ignore temp dirs
pylib/_trial_temp
_trial_temp
#ignore compile dirs
decades-201*
doc/*.log
doc/*.pdf
doc/*.idx
doc/*.make
doc/*.out
doc/*.aux
doc/*.d
doc/*.run
doc/*.fls
doc/*.toc
doc/*.temp
doc/*.cookie
doc/*.bbl
doc/*.blg
doc/_build
#Horace
Horace/web/plot/Makefile.old
Horace/web/js
Horace/web/css
Horace/web/plot/plot/Plot.jar
Horace/web/plot/Plot.jar
