#ignore vim swap files
.*.swp
#ignore compiled python files
*.pyc
#ignore DEB packaging files
*.deb
*.dsc
*.build
*.changes
*.tar.gz
*.class
*.CLASS
#ignore temp dirs
pylib/_trial_temp
_trial_temp
#ignore compile dirs
decades-201*
doc/*.log
doc/*.pdf
doc/*.idx
doc/*.make
doc/*.out
doc/*.aux
doc/*.d
doc/*.run
doc/*.fls
doc/*.toc
doc/*.temp
doc/*.cookie
