{% extends "flightsummary.html" %}
{% block manageform %}
   <form name="add_summary" action="" method="post">
      <select id="actionselect">
         <option value="">..</option>
         <optgroup id="instant" label="Instantaneous">
            <option>Startup</option>
            <option>T/O</option>
            <option>Landing</option>
            <option>Shutdown</option>
         </optgroup>
         <optgroup id="ongoing" label="Ongoing Actions">
            <option class="exclusive">Run</option>
            <option class="exclusive">Profile</option>
            <option class="exclusive">Orbit</option>
         </optgroup>
      </select>
      <input type="text" size="20" name="event" id="event" />
      <select id="status" name="status">
         <option value="instant">Instantaneous Action</option>
         <option value="ongoing">Ongoing Action</option>
      </select>
      <input type="hidden" value="False" id="exclusive" name="exclusive" />
      <label for="comment">Comment</label>
      <input type="text" size="30" id="comment" name="comment" />
      <input type="submit" name="submit" value="start" />
   </form>
{% endblock %}
