{% extends "layouts/default.html" %}
{% block script %}
<script type="text/javascript">
   $(document).ready(function() {
      $('#actionselect').change(
         function() {
            $('#event').val($('#actionselect').val());
            if($('#actionselect option:selected').parent().attr('id') != 'actionselect')
            {
               //sets the Status select with the (default) type of the action
               $('#status').val($('#actionselect option:selected').parent().attr('id'))
            }
            else
            {
               //default to instant
               $('#status').val('instant');
            }
            if($('#actionselect option:selected').attr('class') == 'exclusive')
            {
               $('#exclusive').val('True');
            }
            else
            {
               $('#exclusive').val('False');
            }
         }
   )
   });
   var refreshStat = setInterval(function() {
      $('#statcontainer').load('/live/stat');
   }, 1000);
   var refreshEvent = setInterval(function() {
      $('#eventscontainer').load('/live/flight/events');
   }, 7500);
</script>
{% endblock %}
{% block head %}
   {{ super() }}
{% endblock %}
{% block body %}
<div id="statcontainer"></div>
<div id="flightsummary">
{% block manageform %}{% endblock %}
<div id="eventscontainer">{% include "flightevents.html" %}</div>
</div>
{% endblock %}
