Package: twisted-decades-listener
Version: 2012-05-03-12-23-eardkdw-laptop
Architecture: all
Maintainer: Dan Walker <D.K.D.Walker@leeds.ac.uk>
Installed-Size: 56
Depends: python-twisted-core
Section: net
Priority: extra
Description: A Twisted-based server for decades-listener
 Automatically created by tap2deb
