body {
   font-family: Arial, sans-serif;
   background-color: #186f4d;
   color: white;
}
div#logocontainer {
   float:left;
   padding:1.0em; 
   width: 20%;
}
h1#logo
{
   font-family: 'Nexa Light', Arial, sans-serif;
   font-size:2.5em;
   line-height:1.0em;
   font-weight:normal;
   margin-top:0;
   font-style:italic;
   padding-left:0.2em;
}
h1#logo img {
   height: 4em;
}
#logo a {
   text-decoration: none;
}
#logo span.header1
{
   font-family: arial,sans-serif;
   font-size:0.28em;
   display:block;
   top:0em;
   line-height:0.8em;
   font-style:normal;
}
.ghost {
   background-color: #ccc;
}
div#index, div#tank_status {
   clear: left;
}
div#statcontainer {
   min-height: 7em;
   margin-bottom: 0.4em;
}
div#statblock {
   width: 30em;
   padding: 0.75em;
   background-color: white;
   margin-left: auto;
   margin-right: auto;
   border: solid 1px grey;
}
div#statblock p{
   color: #0C2174;
   padding: 0;
   margin-top: 0;
   margin-bottom: 0.2em;
}
div#statblock span {
    font-family: "DejaVu Sans Mono","Ubuntu Mono", "Consolas", "Courier New",monospace;
    white-space:pre;
}
#flightsummary table {
   margin-left: auto;
   margin-right: auto;
   background-color: white;
   color: #0C2174;
   border: #0C2174;
   padding: 0.5em;
   margin-top: 0.25em;
}
#flightsummary table td {
   border-collapse: collapse;
   padding-left: 0.4em;
   margin: 0px;
}
#flightsummary table th {
   text-align: left;
}
#flightsummary form {
   text-align: center;
}
td.num {
   text-align: right;
}
p#csvfile {
   text-align: right;
}
a, a:visited {
   color: white;
}
a:hover {
   color: #0C2174;
}
ul.menu {
   margin-left: 5em;
}
dl { 
   border: 3px double #ccc; 
   padding: 0.5em; 
}
dt { 
   float: left;
   clear: left;
   width: 15em;
   text-align: right;
   font-weight: bold;
} 
dt:after{ 
   content: ":";
} 
dd { 
   margin: 0 0 0 16em;
   padding: 0 0 0.5em 0;
}
.error {
   background-color: red;
}
.warning {
   background-color: #FF7E00;
}
