Source: twisted-decades-listener
Section: net
Priority: extra
Maintainer: Dan Walker <D.K.D.Walker@leeds.ac.uk>
Build-Depends-Indep: debhelper, python (>= 2.6.5-7)
Standards-Version: 3.8.4
XS-Python-Version: current

Package: twisted-decades-listener
Architecture: all
Depends: ${python:Depends}, python-twisted-core
XB-Python-Version: ${python:Versions}
Description: A Twisted-based server for decades-listener
 Automatically created by tap2deb
