Source: decades
Section: net
Priority: extra
Maintainer: Dan Walker <D.K.D.Walker@leeds.ac.uk>
Build-Depends-Indep: debhelper, python (>= 2.6.5-7)
Standards-Version: 3.8.4
XS-Python-Version: current

Package: decades
Architecture: all
Depends: ${python:Depends}, python, python-twisted-core, python-psycopg2
XB-Python-Version: ${python:Versions}
Description: Twisted-based servers for decades
