#!/usr/bin/make -f
DH_VERBOSE=1
DEB_BUILD_OPTIONS=nocheck
PACKAGE = $(shell dh_listpackages)

PYTHON2=$(shell pyversions -vr)
#PYTHON3=$(shell py3versions -vr)

# Prevent setuptools/distribute from accessing the internet.
export http_proxy = http://127.0.0.1:9

%:
	dh $@ --with python2

ifeq (,$(filter nocheck,$(DEB_BUILD_OPTIONS)))
test-python%:
	python$* setup.py test -vv

override_dh_auto_test: $(PYTHON2:%=test-python%) $(PYTHON3:%=test-python%)
endif

build-python%:
	python$* setup.py build

override_dh_auto_build: $(PYTHON3:%=build-python%)
	dh_auto_build

install-python%:
	python$* setup.py install --root=$(CURDIR)/debian/tmp --install-layout=deb

override_dh_auto_install: $(PYTHON3:%=install-python%)
	cp pydecades/$(PACKAGE)-listener.tac debian/$(PACKAGE)/etc/$(PACKAGE)
	cp pydecades/$(PACKAGE)-tcp-listener.tac debian/$(PACKAGE)/etc/$(PACKAGE)
	cp pydecades/$(PACKAGE)-server.tac debian/$(PACKAGE)/etc/$(PACKAGE)
	cp pydecades/$(PACKAGE)-server-balancer.tac debian/$(PACKAGE)/etc/$(PACKAGE)
	cp pydecades/$(PACKAGE)-gin.tac debian/$(PACKAGE)/etc/$(PACKAGE)
	# Add here commands to install the package into debian/tmp.
	mkdir -p debian/$(PACKAGE)/etc/init.d
	mkdir -p debian/$(PACKAGE)/etc/default
	cp config/$(PACKAGE).ini debian/$(PACKAGE)/etc/$(PACKAGE)
	cp config/Display_Parameters*.csv debian/$(PACKAGE)/etc/$(PACKAGE)
	cp config/HOR_CALIB.DAT debian/$(PACKAGE)/etc/$(PACKAGE)
	cp debian/init.d debian/$(PACKAGE)/etc/init.d/$(PACKAGE)
	cp debian/cronjob debian/$(PACKAGE)/etc/cron.daily/$(PACKAGE)
	cp debian/default debian/$(PACKAGE)/etc/default/$(PACKAGE)
	cp debian/copyright debian/$(PACKAGE)/usr/share/doc/$(PACKAGE)/
	cp debian/README.Debian debian/$(PACKAGE)/usr/share/doc/$(PACKAGE)/
	cp debian/cfg_parser.sh debian/$(PACKAGE)/usr/bin
	cp config/apache-config debian/$(PACKAGE)/etc/apache2/sites-enabled/$(PACKAGE)
	#Files needed to be web-visible
	cp Horace/web/plot/Plot.jar Horace/web/plot/plot.html Horace/web/plot/Parano_old.txt Horace/web/plot/map_data.dat.gz Horace/web/plot/overlay.txt debian/$(PACKAGE)/var/www/$(PACKAGE)/plot/
	cp -r web/css/* debian/$(PACKAGE)/var/www/$(PACKAGE)/css/
	cp -r web/js/* debian/$(PACKAGE)/var/www/$(PACKAGE)/js/
	cp -rp live/* debian/$(PACKAGE)/var/www/$(PACKAGE)-live/
	cp -rp dataformats/*  debian/$(PACKAGE)/opt/$(PACKAGE)/dataformats/
	dh_auto_install
   

#override_dh_installchangelogs:
#	dh_installchangelogs -k foo/NEWS.rst

override_dh_auto_clean:
	dh_auto_clean
	rm -rf build
	rm -rf *.egg-info
