#!/usr/bin/make -f

export DH_COMPAT=5

build: build-stamp
build-stamp:
	dh_testdir
	touch build-stamp

clean:
	dh_testdir
	dh_testroot
	rm -f build-stamp install-stamp
	dh_clean

install: install-stamp
install-stamp: build-stamp
	dh_testdir
	dh_testroot
	dh_clean -k
	dh_installdirs

	# Add here commands to install the package into debian/tmp.
	mkdir -p debian/decades/etc/init.d
	mkdir -p debian/decades/etc/default
	cp pydecades/decades-listener.tac debian/decades/etc/decades
	cp pydecades/decades-tcp-listener.tac debian/decades/etc/decades
	cp pydecades/decades-server.tac debian/decades/etc/decades
	cp pydecades/decades-server-balancer.tac debian/decades/etc/decades
	cp pydecades/decades-gin.tac debian/decades/etc/decades
	cp pydecades/decades.ini debian/decades/etc/decades
	cp debian/init.d debian/decades/etc/init.d/decades
	cp debian/cronjob debian/decades/etc/cron.daily/decades
	cp debian/default debian/decades/etc/default/decades
	cp debian/copyright debian/decades/usr/share/doc/decades/
	cp debian/README.Debian debian/decades/usr/share/doc/decades/
	cp debian/cfg_parser.sh debian/decades/usr/local/bin
	cp config/apache-config debian/decades/etc/apache2/sites-enabled/decades
	cp -rp pydecades debian/decades/usr/local/lib/decades/
	#Files needed to be web-visible
	mkdir -p debian/decades/var/www/decades/plot
	mkdir -p debian/decades/var/www/decades-live
	cp Horace/web/plot/Plot.jar Horace/web/plot/plot.html Horace/web/plot/Parano.txt Horace/web/plot/map_data.dat.gz Horace/web/plot/overlay.txt debian/decades/var/www/decades/plot/
	cp -rp live/* debian/decades/var/www/decades-live/

	cp dataformats/*  debian/decades/opt/decades/dataformats/
	touch debian/decades/usr/share/decades/package-installed
	touch install-stamp

binary-arch: build install

binary-indep: build install
	dh_testdir
	dh_testroot
	dh_strip
	dh_compress
	dh_installchangelogs
	dh_python2
	dh_fixperms
	dh_installdeb
	dh_gencontrol
	dh_md5sums
	dh_builddeb

source diff:                                                                  
	@echo >&2 'source and diff are obsolete - use dpkg-source -b'; false

binary: binary-indep binary-arch
.PHONY: build clean binary-indep binary-arch binary install
