Package: decades
Version: 0.7.2~29.gbp2839c0
Architecture: all
Maintainer: Dan Walker <D.K.D.Walker@leeds.ac.uk>
Installed-Size: 1343
Depends: python, python-twisted-core, python-twisted, python-psycopg2, python-numpy, libapache2-mod-wsgi, python-jinja2
Section: net
Priority: extra
Description: DECADES servers and user-facing intranet pages
